<nav>
    <div class="site-title">
        <a href="/"><h1>My Recipes</h1></a>
        <p><%= title %></p>
      </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/recipes/lasagna">Lasagna</a></li>
        <li><a href="/recipes/pizza">Pizza</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>